.item-ligne {
  background-color: rgb(255, 255, 255);
  padding: 5px;
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 5px;
}

.alerte {
  background-color: rgba(209, 56, 9, 0.637);
}

.item-lib{
  text-align:center;
}

.alerte-txt {
  font-style: bold;
  color: white;
}