.liste-header {
  padding: 15px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 5px;
}

.liste-form {
  margin-left: 10%;
}

.vide {
  background-color: rgba(192, 7, 7,.4);
}

.active {
  background-color: rgba(7, 192, 32, 0.4);
}

.item-ligne {
  background-color: rgba(117, 151, 247, 0.4);
  padding: 5px;
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 5px;
}

.done {
  background-color: rgba(7, 192, 32, 0.2);
}

.item-lib{
  text-align:left;
}

.raye {
  text-decoration: line-through;
  font-style: italic;
  color: gray;
}